extends layout

block content
  table(class='table')
    thead
      tr
      p Downloading album...
      div.progress.progress-danger
        div#progressbar.bar(style='width: 0%')
      tr
      ul
      each track in tracks
        li= track.title
      th
