doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/thief.js')

  body
    div(class='container-fluid')
      div(class='row-fluid')
        div(class='span12')
          block content
