doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')

  body
    div(class='container-fluid')
      div(class='row-fluid')
        div(class='span12')
          block content
